{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "git"
brew "thefuck"
brew "asciiquarium"
brew "bat"
brew "carapace"
brew "chezmoi"
brew "cmake"
brew "dust"
brew "eza"
brew "fd"
brew "fnt"
brew "fzf"
brew "hexyl"
brew "kalker"
brew "lazygit"
brew "m-cli"
brew "navi"
brew "ncurses"
brew "neofetch"
brew "neovim"
brew "openssl@3"
brew "pet"
brew "readline"
brew "sqlite"
brew "the_silver_searcher"
brew "tio"
brew "tmux"
brew "tree"
brew "vim"
brew "xz"
brew "yazi"
brew "zellij"
brew "zenith"
brew "zlib"
brew "zoxide"
brew "lima"
brew "colima"

cask "google-chrome"
cask "arc"
cask "caffeine"
cask "daisydisk"
cask "devtoys"
cask "docker"
cask "espanso"
cask "fromscratch"
cask "ghostty"
cask "ngrok"
cask "numi"
cask "obsidian"
cask "orbstack"
cask "rapidapi"
cask "raycast"
cask "slack"
cask "tabby"
cask "the-unarchiver"
cask "vlc"
cask "xquartz"
cask "zed"
cask "zerotier-one"
cask "wezterm"
EOF
{{ end -}}
